.slide1{
	background: url(../img/index/index-bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.slide1 .title{
	position: absolute;
	width: 40%;
	top: 10%;
	left: 30%;
}
.slide1 .feiji{
	position: absolute;
	width: 80px;
	top: 5%;
	left: 60%;
}
.top-icon{
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: -24px;
	z-index: 99;
}
.audio-icon{
	position: fixed;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	z-index: 100;
	animation: music 3s linear infinite;
}
@-webkit-keyframes music{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(360deg);}
}
