.slide6{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/images/6.jpg")
}
.slide6 p{
	font-size: 16px;
	line-height: 24px;
}
.slide6 .img1{
  animation-direction: alternate;
  position: absolute;
  left: 20px;
  top:10px;
  font-size: 70px;
  line-height: 80px;
  width: 70px;
  color: #568670;
}

.slide6 .p1 {
  animation-direction: alternate;
  width: 30px;
  position: absolute;
  left: 120px;
  top:50px;
  color: #a3bbad;
  border-left: 1px solid #a3bbad;
  text-align: right;
}
.slide6 .p2 {
  animation-direction: alternate;
  width: 30px;
  position: absolute;
  left: 170px;
  top:50px;
  color: #a3bbad;
  border-left: 1px solid #a3bbad;
  text-align: right;
}
.slide6 .p3 {
  animation-direction: alternate;
  width: 30px;
  position: absolute;
  left: 250px;
  top:50px;
  color: white;
  background: #82a997;
  text-align: center;
}

.slide6 .p4 {
  animation-direction: alternate;
  width: 30px;
  position: absolute;
  left: 300px;
  top:50px;
  color: white;
  background: #82a997;
  text-align: center;
}
.slide6 .p5{
  position: absolute;
  right: 20px;
  top: 270px;
}
.slide6 .p6{
  position: absolute;
  right: 20px;
  top: 290px;
}
.slide6 .img2{
  position: absolute;
  right: 20px;
  top: 350px;
}
.slide6 .img3{
  width:320px;
  position: absolute;
  right: 20px;
  top: 450px;
}